@import '../../shared/styles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input[type="text"] {
    height: 25px;
    width: 500px;
    padding-left: $spacing-medium;
    border-radius: $border-radius-medium;
  }

  input[type="button"] {
    height: 30px;
    width: 70px;
    border-radius: $border-radius-medium;
    cursor: pointer;
  }

  a {
    cursor: pointer;
    margin-left: $spacing-medium;
    color: $color1;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .logo {
    text-transform: uppercase;
  }
}
